{% extends 'index.html' %}

{% block head_title %}
    {{ block.super }} : {{ articolo.titolo }}
{% endblock head_title %}

{% block content %}

    <div class="container text-center">
        <img src="https://picsum.photos/400/300?hmac={{ articolo.titolo }}&grayscale&blur=2" alt="{{ articolo.titolo }}" class="img-thumbnail">
    </div>



    <div class="container">
        <h1>Titolo: {{ articolo.titolo }}</h1>
        <h4>Autore: {{ articolo.giornalista }}</h4>
        <hr>
        <p>{{ articolo.contenuto }}</p>
    </div>

    <div class="container text-center">
        <a class="btn btn-primary btn-lg" href="/" role="button">Torna alla home</a>
    </div>
{% endblock content %}