{% extends 'index.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Articoli, giornalisti</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>

    <div class="container">
        <div class="card-group">
            {% for g in giornalisti %}
                {% for a in g.articoli.all %}
                    <div class="card mx-2" style="width: 18rem;">
                        <img src="https://picsum.photos/200/100?hmac={{ a }}&grayscale&blur=2"
                             class="card-img-top" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ g }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ a.titolo }}</h6>
                            <p class="card-text">{{ a.contenuto|truncatechars:50 }}</p>
                            <a href="{{ a.get_absolute_url }}" aria-label="{{ a.titolo }}" class="btn btn-primary">Leggi
                                articolo</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                {% empty %}
                    <div class="card mx-2" style="width: 18rem;">
                        <img src="https://picsum.photos/200/100?hmac={{ a }}&grayscale&blur=2"
                             class="card-img-top" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ g }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">---</h6>
                            <p class="card-text">---</p>
                            <a href="#" class="btn btn-warning">Info giornalista</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}